nav.navbar {
  /* background-color: #ef5350; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.siteName_wrapper {
  width: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 10px;
  border-radius: 5%;
  box-shadow: 0px 4px 7px -5px #000000bf;
  cursor: pointer;
}

.siteLogo {
  width: 60px;
  margin-bottom: 10px;
}

.siteName_wrapper h1 {
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.05em;
  color: #000000;
  text-shadow: 0px 0px 1.5px #160505;
}
