.pokemon_search_input_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pokemon_search_input {
  padding: 0.5rem;
  width: 75%;
  text-align: center;
  border-radius: 20px;
  border: 5px solid #ef5350;
  box-shadow: 0px 0px 8px -5px #000;
  background-color: #0003;
  color: #fff;
  outline: none;
  transition: all 0.5s;
}

.pokemon_search_input::placeholder {
  color: #fff;
}

.pokemon_search_input:hover,
.pokemon_search_input:focus {
  width: 90%;
  box-shadow: 0px 0px 5px -3px #000;
  background-color: #00000052;
  transition: all 0.5s;
}
