.progress {
  height: 1.8rem;
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.badge {
  padding: 0.5em 0.5em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 600;
}

.name {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #000000;
}

.detailes_h6 {
  font-size: 1.3rem;
  color: #5f666d;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-weight: 400;
}

.desc {
  padding: 15px 30px;
  background: #f7fbfc;
  margin: 15px 0 0px;
  min-height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.8rem;
  letter-spacing: 0;
  color: #303d4b;
  font-weight: 300;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
}
